article {

    &::before {
        content: "";
        background: url(../img/rrrainbow.svg);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

    h2 {
        font-size: 2.5rem;
        font-family: $font-text;
        width: 50vw;
        margin: 0 auto 1rem auto;
        color: $maize;
        text-shadow: 0.1rem 0.1rem 0.1rem $amethyst;
    }

    p {
        padding: 1.25rem;
        text-align: justify;
    }

    .img-article {
        margin-bottom: 0;
        width: 100%;
        height: auto;
        object-fit: cover; 
        border-radius: 4rem;
    }

    figcaption {
        font-size: 1rem;
        font-family: $font-text;
        color: $amethyst;
        margin-left: .2rem;
    }
  
    .end {
        text-align: center;
        margin: 2rem auto;
        padding-bottom: 0;
    }

    .anchor {
        border: none;
        background-color: transparent;
        display: inline;
        padding: 0;
        margin: 0;
        font-family: $font-text;
        text-decoration: underline;
        text-decoration-color: $maize;
        color: $amethyst;
        text-transform: lowercase;

        &:hover {
            color: $maize;
        }
    }

    ul {
        font-size: 1.3rem;
        font-family: $font-text;
        color: $deep-sky-blue;
        text-align: center;
        list-style: none;
    }
}

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


