@import "variables";
@import "header";
@import "articles";
@import "slides";
@import "footer";


html {
  overflow-x: hidden;
}

body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  animation: fluid 30s linear infinite;
  margin: 0;

  .active {
    color: $brilliant-rose;
  }
}

@keyframes fluid {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

main {
  padding-top: 5rem;

  p {
    font-family: $font-text;
    margin: -2rem 2rem 1.25rem 3rem;
    font-size: 1.5rem;
    text-align: justify;
    color: $brilliant-rose;
    text-shadow: 0.05rem 0.05rem 0.05rem $amethyst;
  }

  img {
    width: 90vw;
    height: auto;
    display: block;
    margin: 2rem auto 3rem auto;
  }

  a {
    font-family: $font-menu;
    text-decoration: none;
    color: $maize;
    border: 1px solid $amethyst;
    border-radius: 1rem 4rem 3rem 5rem;
    padding: 0.5rem 1rem;
    background-color: #00bbf9ff;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    &:hover {
      color: $aquamarine;
      background-color: $amethyst;
    }

    &.active {
      color: $brilliant-rose;
    }
  }
}

