@import "variables";
@import "header";
@import "articles";
@import "slides";
@import "footer";

html {
  overflow-x: hidden;
}

body {
  background: url(../img/background.jpeg) no-repeat center center fixed;
  animation: fluid 30s linear infinite;
  margin: 0;

  .active {
    color: $brilliant-rose;
  }
}

@keyframes fluid {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

main {
  padding-top: 5rem;

  p {
    font-family: $font-text;
    margin: -2rem 2rem 1.25rem 2rem;
    font-size: 1.5rem;
    text-align: justify;
    color: $brilliant-rose;
    text-shadow: 0.05rem 0.05rem 0.05rem $amethyst;
  }

  img {
    width: 90vw;
    height: auto;
    display: block;
    margin: 2rem auto 3rem auto;
  }

  a {
    font-family: $font-menu;
    text-decoration: none;
    color: $maize;
    border: 1px solid $amethyst;
    border-radius: 1rem 4rem 3rem 5rem;
    padding: 0.5rem 1rem;
    background-color: #00bbf9ff;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    
    &:hover {
      color: $aquamarine;
      background-color: $amethyst;
    }

    &.active {
      color: $brilliant-rose;
    }
  }

  a.cta-portada  {
    background-image: linear-gradient(90deg, $brilliant-rose, $amethyst, $aquamarine);
    background-size: 200% 200%;
    background-position: 100% 0;
    transition: background-position 500ms, color 500ms, text-shadow 500ms, box-shadow 500ms;
    color: $maize;

    &:hover {
      background-position: 0 100%;
      color: $aquamarine;
      box-shadow: 0.1rem 0.1rem 0.1rem 0 $amethyst,
                  0.2rem 0.2rem 0.2rem 0 $aquamarine,
                  0.3rem 0.3rem 0.3rem 0 $brilliant-rose,
                  0.4rem 0.4rem 0.4rem 0 $amethyst;
      text-shadow: 0.1rem 0.1rem 0.1rem 0 $amethyst,
                    0.2rem 0.2rem 0.2rem 0 $aquamarine,
                    0.3rem 0.3rem 0.3rem 0 $brilliant-rose,
                    0.4rem 0.4rem 0.4rem 0 $amethyst;
    }
  }
}

.enlaces {
  .anchor {
    @include anchor;
    display: block;
    width: fit-content;
  }

  h2 {
    @include h2;
  }

  > p {
    padding: 1.25rem;
  }
}

ol {
  margin-left: 3rem;
  margin-right: 3rem;

  li {
    margin-bottom: 1rem;
    &::marker {
      font-family: $font-menu;
      color: $brilliant-rose;
      font-size: 1.5rem;
    }
  }

  p {
    display: inline;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  header {
    img:not(.bird) {
      display: none;
    }

    h1 {
      text-align: right;
      padding-right: 3.5rem;
      width: 15rem;
      margin-left: auto;
    }

    :last-child {
      flex: 0;
    }
  }

  main {
    p {
      font-size: 1rem;
    }

    h2 {
      font-size: 1.75rem !important;
    }

    ul {
      font-size: 1rem;
    }

    .enlaces h2 {
      font-size: 1.5rem;
    }
  }

  .slides figcaption {
    width: 100%;
    padding: 1rem;
    font-size: 5em;
  }

  .slides article figure img {
    height: 100%;
    object-fit: none;
  }

  a.anchor { 
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column-reverse;
    h1 {
      width: 100%;
      text-align: left;
    }
  }

  .slides figcaption {
    font-size: 3em;
  }
}
